<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Gestor Productos</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		    </button>
	       	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="admin/listado">Inicio</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="#">Movimientos</a>
				</li>
				
				
				
			  </ul>
			  
        </div>
		</div>
    </nav>
    <div class="container">
	      <a href="admin/movimientos" class="btn btn-primary mt-4"><i class='bx bxs-message-square-add' ></i></a>
		  <h1>Saldo </h1> <%= data[0].Monto%>
		  <table class="table table-bordered table-striped text-center mt-4">
		    <thead>
				<tr class="bg-primary text-white">
			   <td>
			     idMovimiento
			   </td>
			   <td>
			     idTipo
			   </td>
			   <td>
			     idCategoria
			   </td>
			   <td>
			     Concepto
			   </td>
			   <td>
			     Monto
			   </td>
			   <td>
			     Fecha
			   </td>
			      <td>
			     Acciones
			   </td>
			</tr>
			</thead>

			<tbody>
			    <% if (data.length ==1)
				    { 
					   inicio=0
					} 
                   else 
				    {
					  inicio=1 
					}
i					
	   	         %>
			<% for(var i=inicio; i<data.length; i++) {%>
				<tr>
				   <td>
					 <%= data[i].idMovimiento%>
				   </td>
				   <td>
					 <%= data[i].idTipo%>
				   </td>
				   <td>
					 <%= data[i].idCategoria%>
				   </td>
				   <td>
					 <%= data[i].Concepto%>
				   </td>
				   <td>
					 <%=data[i].Monto%>
				   </td>
				   <td>
					 <%=data[i].Fecha%>
				   </td>
				   <td>
					  <button onclick="editarProducto(<%=data[i].idMovimiento%>,<%= data[i].idTipo%>)" type="button" class="btn btn-info">Editar</button>
					  <button onclick="eliminarProducto(<%=data[i].idMovimiento%>)" type="button" class="btn btn-danger">Eliminar</button>
				   </td>
			   </tr>
			   <%}%>
			</tbody>
			
		  </table>
	</div>
	<!--Axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!--bootstrap-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
 <!--iconos-->
     <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
	 <script type="text/javascript" src="/js/funciones.js"></script>
    
  </body>
</html>
